.bottoms-container {
  width: 100vw;
  height: 83.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottoms-header {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
}

.bottoms-header h1 {
  font-size: 30px;
  margin: 0 3rem;
}

.bottoms-header span {
  color:rgb(125, 125, 125)
}

.bottoms-sort {
  width: 100vw;
  height: 8vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid rgb(125, 125, 125);
  border-bottom: 1px solid rgb(125, 125, 125);
}

.bottoms-sort button {
  margin: 0 0.75rem;
  padding: 0.25 1rem;
  width: 7vw;
  height: 2.25vw;
  border: none;
  border-radius: 0.5rem;
}

.bottoms-sort button:hover {
  opacity: 70%;
  cursor: pointer;
}

.button-selected {
  background-color:rgb(189, 189, 189);
}

.bottoms-sort label {
  margin: 0 1.5rem 0 3rem;
}

.bottoms-sort div:hover {
  opacity: 70%;
  cursor: pointer;
}

.bottoms-items-container {
  width: 80vw;
  height: 62vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  overflow: auto;
}

.bottoms-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1.5rem 3rem;
}

.bottoms-item-image-container {
  width: 20vw;
  height: 42vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottoms-item-image {
  width: 16vw;
  height: 42vh;
}

.bottoms-item-image:hover {
  opacity: 80%;
  cursor: pointer;
}

.bottoms-item-description {
  font: "Cairo", "sans-serif";
  font-weight: 700;
  font-size: 18px;
  color: black;
  height: 6vh;
  display: flex;
  justify-content: center;
}

.bottoms-item-price {
  font: "Cairo", "sans-serif";
  font-weight: 700;
  font-size: 17px;
  color: black;
  height: 3vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.before-sale-price {
  text-decoration: line-through;
}

.after-sale-price {
  color: #ff0101;
  margin: 0 0 0 0.5rem;
}
