.info-bar-container {
    width: 100vw;
    background-color: rgb(206, 206, 206);
    color: black;
    height: 4.5vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}