.slogan-section-body {
    width: 100vw;
    height: 44vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slogan-top {
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 48px;
    width: 50vw;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Cairo", "sans-serif";
    font-weight: 700;
}

.slogan-bottom {
    font-size: 22px;
    width: 50vw;
    color: #ABABAB;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Cairo", "sans-serif";
    font-weight: 700;
}